<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>API_KEY</key>
		<string>AIzaSyDd4m1EXg7OwDthzhr8yqm6SfPwsaUtSvM</string>
		<key>GCM_SENDER_ID</key>
		<string>90703966559</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>dk.acutetriage.app</string>
		<key>PROJECT_ID</key>
		<string>acutetriage-app</string>
		<key>STORAGE_BUCKET</key>
		<string>acutetriage-app.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:90703966559:ios:2c14e362e8c2f125af06ea</string>
	</dict>
</plist>